.map-container {
    width: 100vw;
    height: 100vh;
}

.map-pin {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform .2s ease;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-pin:active {
  transform: scale(0.9);
}

.pin-name {
  text-transform: uppercase;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  line-height: 22px;
  margin-left: -6px;
  margin-bottom: -4px;
}