.map-container {
    width: 100vw;
    height: 100vh;
}

.map-pin {
  width: 46px;
  height: 46px;
  object-fit: cover;
  cursor: pointer;
  border: 6px solid white;
  transition: .2s ease;
  border-radius: 50%;
}

.map-pin:hover {
  border-color: rgb(36, 32, 32);
}

.map-pin:active {
  transform: scale(0.9);
}